/* Estilos Globais */
* {
    margin: 0;
    padding: 0;
}

/* Estilos Modo Escuro (Padrão) */
body {
    background-color: rgb(39, 38, 39);
}

#calculadora {
    margin: auto;
    margin-top: 50px;
    background-color: black;
    width: 460px;
    border-radius: 10px;
}

.display {
    background-color: rgb(56, 54, 54);
    overflow-x: auto;
    overflow-y: hidden;
    width: 420px;
    height: 100px;
    padding: 20px;
    font-size: 5rem;
    border-radius: 10px 10px 0 0;
    color: aliceblue;
    text-align: right;
}

::-webkit-scrollbar-track {
    background-color: #494646;
}
::-webkit-scrollbar {
    background: #464545;
}
::-webkit-scrollbar-thumb {
    background: #696868;
}

.item {
    text-align: center;
    margin: 5px;
    font-size: 25px;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    border: none;
    cursor: pointer;
    font-weight: bold;
    color: white;
    background-color: rgb(53, 53, 53);
}

.item2 {
    text-align: center;
    margin: 5px;
    font-size: 25px;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    border: none;
    cursor: pointer;
    font-weight: bold;
    color: white;
    background-color: rgb(172, 97, 0);
}

.item1 {
    text-align: center;
    margin: 5px;
    font-size: 25px;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    border: none;
    cursor: pointer;
    font-weight: bold;
    color: white;
    background-color: rgb(97, 97, 97);
}

.item1:hover {
    background-color: rgb(145, 143, 143);
}

.item1:active {
    background-color: rgb(216, 213, 213);
}

.item2:hover {
    background-color: rgb(211, 121, 4);
}

.item2:active {
    background-color: rgb(255, 162, 41);
}

.numbers:hover {
    background-color: rgb(87, 87, 87);
}

.numbers:active {
    background-color: rgb(121, 121, 121);
}

.zero {
    border-radius: 50px;
    width: 215px;
}

/* Estilos para Modo Claro */
body.light-mode {
    background-color: rgb(136, 134, 134);
}

body.light-mode #calculadora {
    background-color: rgb(102, 100, 100);
}

body.light-mode .display {
    background-color: rgb(129, 126, 126);
    color: black;
}

body.light-mode .item {
    background-color: rgb(220, 220, 220);
    color: black;
}

body.light-mode .item1 {
    background-color: rgb(200, 200, 200);
    color: black;
}

body.light-mode .item2 {
    background-color: rgb(255, 165, 0);
    color: black;
}

body.light-mode .item:hover {
    background-color: rgb(180, 180, 180);
}

body.light-mode .item1:hover {
    background-color: rgb(180, 180, 180);
}

body.light-mode .item2:hover {
    background-color: rgb(255, 140, 0);
}

body.light-mode .numbers:hover {
    background-color: rgb(200, 200, 200);
}

body.light-mode .zero {
    background-color: rgb(220, 220, 220);
}

@media screen and (max-width: 500px) {
    html, body {
        height: 100%;
        width: 100vw;
        font-family: Arial, Helvetica, sans-serif;
        display: flex;
        justify-content: center;
        background-color: rgb(19, 18, 18);
    }

    #calculadora {
        margin: 0;
        max-width: 100vw;
        min-width: 100vw;
        height: 100%;
        background-color: black;
    }

    .display {
        display: flex;
        padding: 0;
        overflow-x: auto;
        align-items: flex-end;
        color: white;
        width: 100%;
        background-color: black;
        height: 28vh;
    }

    .display span {
        margin-left: auto;
        font-size: 70px;
        justify-self: flex-end;
    }

    ::-webkit-scrollbar-track {
        background-color: #494646;
    }
    ::-webkit-scrollbar {
        background: #464545;
        height: 10px;
    }
    ::-webkit-scrollbar-thumb {
        background: #696868;
    }

    .numeros {
        width: 100%;
        height: 58%;
        background-color: black;
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        grid-row-gap: 5px;
    }

    .item {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 40px;
        color: white;
        border-radius: 100%;
        width: 90px;
        height: 90px;
        padding: 10px;
        cursor: pointer;
        align-self: center;
        justify-self: center;
    }

    .percent {
        background-color: #A5A5A5;
        border: none;
        color: black;
    }

    .item1 {
        background-color: #A5A5A5;
        border: none;
        color: black;
    }

    .item2 {
        background-color: #FF9F0A;
        border: none;
    }

    .numbers {
        background-color: #343434;
        border: none;
    }

    .zero {
        background-color: #343434;
        width: 200px;
        border-radius: 135px;
        grid-column: span 2;
        border: none;
    }

    /* Estilos para Modo Claro */
    body.light-mode .display {
        color: black;
        background-color:  rgb(100, 100, 100);
    }

    body.light-mode .numeros {
        background-color:  rgb(100, 99, 99);
    }

    body.light-mode .item {
        color: black;
        background-color: rgb(105, 105, 105);
    }

    body.light-mode .item1 {
        color: black;
        background-color: rgb(200, 200, 200);
    }


    body.light-mode .item2 {
        color: black;
        background-color: rgb(255, 165, 0);
    }

    body.light-mode .numbers {
        background-color: rgb(220, 220, 220);
    }

    body.light-mode .zero {
        background-color: rgb(220, 220, 220);
    }
}

@media screen and (max-width: 445px) {
    html, body {
        height: 100%;
        width: 100vw;
        font-family: Arial, Helvetica, sans-serif;
        display: flex;
        justify-content: center;
        background-color: rgb(19, 18, 18);
    }

    #calculadora {
        margin: 0;
        max-width: 100vw;
        min-width: 100vw;
        height: 100%;
        background-color: black;
    }

    .display {
        display: flex;
        padding: 0;
        overflow-x: auto;
        align-items: flex-end;
        color: white;
        width: 100%;
        background-color: black;
        height: 28vh;
    }

    .display span {
        margin-left: auto;
        font-size: 70px;
        justify-self: flex-end;
    }

    ::-webkit-scrollbar-track {
        background-color: #494646;
    }
    ::-webkit-scrollbar {
        background: #464545;
        height: 10px;
    }
    ::-webkit-scrollbar-thumb {
        background: #696868;
    }

    .numeros {
        width: 100%;
        height: 58%;
        background-color: black;
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        grid-row-gap: 5px;
    }

    .item {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 40px;
        color: white;
        border-radius: 100%;
        width: 80px;
        height: 80px;
        padding: 10px;
        cursor: pointer;
        align-self: center;
        justify-self: center;
    }

    .percent {
        background-color: #A5A5A5;
        border: none;
        color: black;
    }

    .item1 {
        background-color: #A5A5A5;
        border: none;
        color: black;
    }

    .item2 {
        background-color: #FF9F0A;
        border: none;
    }

    .numbers {
        background-color: #343434;
        border: none;
    }

    .zero {
        background-color: #343434;
        width: 200px;
        border-radius: 135px;
        grid-column: span 2;
        border: none;
    }

    /* Estilos para Modo Claro */
    body.light-mode .display {
        color: black;
        background-color: white;
    }

    body.light-mode #calculadora {
        background-color:  rgb(100, 100, 100);
    }

    body.light-mode .item {
        color: black;
        background-color: rgb(220, 220, 220);
    }

    body.light-mode .item1 {
        color: black;
        background-color: rgb(200, 200, 200);
    }

    body.light-mode .item2 {
        color: black;
        background-color: rgb(255, 165, 0);
    }

    body.light-mode .numbers {
        background-color: rgb(220, 220, 220);
    }

    body.light-mode .zero {
        background-color: rgb(220, 220, 220);
    }
}
